@model IEnumerable<B2BTI.Domain.Entity.Place>

@{
    ViewBag.Title = "PlaceList";
}

<h2>PlaceList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            RouteId
        </th>
        <th>
            Days
        </th>
        <th>
            Price
        </th>
        <th>
            StartTime
        </th>
        <th>
            PlaceName
        </th>
        <th>
            PlaceDetail
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaceId })
        </td>
        <td>
            @item.RouteId
        </td>
        <td>
            @item.Days
        </td>
        <td>
            @String.Format("{0:F}", item.Price)
        </td>
        <td>
            @String.Format("{0:g}", item.StartTime)
        </td>
        <td>
            @item.PlaceName
        </td>
        <td>
            @item.PlaceDetail
        </td>
    </tr>
}

</table>

